@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dioram shop</title>
</head>
<body>
    <div>
        <h3>Products</h3>
        <table>
            <tr>
                <td><p>Name</p></td>
                <td><p>Price</p></td>
                <td></td>
            </tr>
            @foreach (var p in ViewBag.Products)
            {
                <tr>
                    <td><p>@p.Name</p></td>
                    <td><p>@p.Price</p></td>
                    <td><p><a href="/Home/Buy/@p.Id">Buy</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>